{# empty Twig template #}
{% for postsCategory in postsCategories %}
            <li><a href="{{ url('homepage_blog_post',{'link' : comment.getPostPost().getLink()}) }}">{{ comment.getContent()|slice(0,20) }}...</a></li>
{% endfor %}
