{% extends '::base.html.twig' %}
{% form_theme form 'HomepageBlogBundle:Form:fields.html.twig' %}
{% block main %}
<h2>{{ user.getLogin() }}</h2>
<p><a href="{{ path('homepage_blog_psw_edit',{'login': user.login}) }}">Zmień hasło</a></p>
{{ form_start(form) }}
<legend>Edytuj dane</legend>
{{ form_end(form) }}
{% endblock %}
