{% extends '::base.html.twig' %}

{% block main %}
<h2>Witaj {{ user.login }}</h2>
<p>Dziękujemy za założenie konta. Na adres {{ user.email }} została wysłana
    wiadomość z linkiem aktywacyjnym. Kliknij go aby w pełni aktywować konto.</p>
{% endblock %}
