<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>NerdLab.pl Blog</title>
        <link>http://www.nerdlab.pl</link>
    {% for post in posts %}
        <item>
            <title>{{ post.title }}</title>
            <link>{{ url('nerdlab_blog_post',{'link': post.link}) }}</link>
            <description>{{ post.shortContent }}</description>
            <pubDate>{{ post.createdOn|date('D, d M Y, G:i:s P') }}</pubDate>
        </item>
    {% endfor %}
    </channel>
</rss> 

