<div align="center" style="margin:0 auto;">
    <p>Witaj <strong>{{ login }}</strong> dziękuję za założenie konta.</p>

    <p>Kliknij <a href="{{ url('nerdlab_blog_user_activate', {'login':login,'key':key})|raw }}" target="_blank">{{ url('nerdlab_blog_user_activate', {'login':login,'key':key})|raw }}</a> aby aktywać konto.</p>

    <p>Jeżeli nie zakładałeś konta, zignoruj proszę ten email.</p>

    <p>NerdLab.pl</p>
</div>