<div class="panel panel-default">
    <div class="panel-heading">
            <h4 class="panel-title">Najnowsze posty</h4>
    </div>
    <div class="panel-body">
        <ul class="latest-posts">
{% for post in posts %}
            <li><a href="{{ url('homepage_blog_post',{'link' : post.getLink()}) }}">{{ post.getTitle() }}</a></li>
{% endfor %}
        </ul>
    </div>
</div>
