<div class="panel panel-default">
    <div class="panel-heading">
            <h4 class="panel-title">Ostatnie komentarze</h4>
    </div>
    <div class="panel-body">
        <ul class="latest-comments">
{% for comment in comments %}
            <li><a href="{{ url('homepage_blog_post',{'link' : comment.getPostPost().getLink()}) }}">{{ comment.getContent()|slice(0,20) }}...</a></li>
{% endfor %}
        </ul>
    </div>
</div>

