/* 
    Created on : 2013-11-15, 14:57:04
    Author     : Paweł Winiecki
*/
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.navbar .btn {
    display: inline-block;
}
.pagination-container ul.pagination {
    display: block;
}

