{% extends '::base.html.twig' %}

{% block main %}
    {% if posts %}
        {% for post in posts %}
            <h2>{{ post.getTitle() }}</h2>
            <p>{{ post.getShortContent() }}</p>
            <a href="post/{{ post.getLink() }}" />czytaj więcej</a>
        {% endfor %}
    {% else %}
            <p>Nie ma postów</p>
    {% endif %}
{% endblock %}
