{% extends '::base.html.twig' %}

{% block main %}
    {% if post %}
        <h2>{{ post.getTitle() }}</h2>
        <p>Kategoria: {{ post.getPostsCategoryPostsCategory().getCategoryName() }}</p>
        <p>{{ post.getLongContent() }}</p>
    {% else %}
            <p>Nie ma takiego wpisu!</p>
    {% endif %}
{% endblock %}
