{# empty Twig template #}
{% for postsCategory in postsCategories %}
            <li><a href="{{ url('nerdlab_blog_category',{'category' : postsCategory.link}) }}">{{ postsCategory.categoryName }}</a></li>
{% endfor %}
