{% extends '::base.html.twig' %}
{% block title %}Polityka prywatności{% endblock %}
{% block robots %}noindex, follow{% endblock %}
{% block main %}
<h1>Polityka cookies</h1>
<p>Wykorzystujemy pliki cookies, aby nasz serwis lepiej spełniał Państwa oczekiwania. Można zablokować zapisywanie cookies, zmieniając ustawienia przeglądarki.</p>
<ol>
    <li>Cookies to pliki tekstowe, które są zapisywane na dysku urządzenia końcowego użytkownika, używane przez serwer do rozpoznania urządzenia użytkownika przy ponownym połączeniu. Cookies są pobierane przy każdym "wejściu" i "wyjściu" z serwisu. Cookies nie służą do ustalania tożsamości użytkowników a jedynie ich urządzeń.</li>
    <li>NerdLab.pl używa plików typu cookies do rozpoznawania i zapamiętania informacji o użytkownikach. Pozwala to bardziej precyzyjnie rozpoznawać indywidualne potrzeby użytkownika i dzięki temu oferować mu usługi lepsze i bardziej dostosowane do jego wymagań.</li>
    <li>Pliki typu cookies są wykorzystywane przez NerdLab.pl również do celów:
        <ul>
            <li>statystycznych co pozwala na tworzenie do celów wewnętrznych i kontrahentów statystyk pracy serwisów i odwiedzin użytkowników,</li>
            <li>prezentacji reklam na serwisach - w szczególności dla określenia treści reklam wyświetlanych na danym urządzeniu końcowym,</li>
        </ul>       
    </li>
    <li>Każdy użytkownik może nie wyrazić zgody na umieszczanie plików typu cookies na jego urządzeniu końcowym. W tym celu należy skorzystać z opcji wyłączenia pobierania i przechowywania plików typu cookies w przeglądarce internetowej.</li>
    <li>Usunięcie plików cookies może doprowadzić do utraty możliwości korzystania z niektórych funkcjonalności serwisu NerdLab.pl</li>
</ol>
<h3>Ustawienia cookies dla różnych przeglądarek intenetowych:</h3>
        <ul>
            <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=pl">Google Chrome</a></li>
            <li><a target="_blank" href="https://support.mozilla.org/pl/kb/ciasteczka">Mozilla Firefox</a></li>
            <li><a target="_blank" href="http://windows.microsoft.com/pl-pl/internet-explorer/delete-manage-cookies#ie=ie-10">Internet Explorer 10</a></li>
            <li><a target="_blank" href="http://windows.microsoft.com/pl-pl/windows7/how-to-manage-cookies-in-internet-explorer-9">Internet Explorer 9</a></li>
            <li><a target="_blank" href="http://windows.microsoft.com/pl-pl/windows-vista/block-or-allow-cookies">Internet Explorer 7 i 8</a></li>
            <li><a target="_blank" href="http://help.opera.com/Windows/12.10/pl/cookies.html">Opera</a></li>
            <li><a target="_blank" href="http://support.apple.com/kb/ph5042">Safari</a></li>
        </ul>
{% endblock %}
